*.la
*.lo
*.loT
*.o
*.pyc
*.so
*~
.deps
.libs
ABOUT-NLS
INSTALL
Makefile
Makefile.in
Makefile.qmake
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
engine/steno.xml
engine/steno.xml.in
gtk-doc.make
ibus-steno*.tar.*
ibus-steno.spec
install-sh
libtool
ltmain.sh
m4
missing
po
py-compile
stamp-h1
tags
